.active{
    font-weight: 900;
    font-size: 40px;
    color: gray;
}
.unactive{
    font-size: 40px;
}


// .material-symbols-outlined {
//   font-variation-settings:
//   'FILL' 0,
//   'wght' 400,
//   'GRAD' 0,
//   'opsz' 48
// }
