<!-- <div class="container mt-3">
  <form [formGroup]="form">
  <div class="row">
    <div class="col-md-6">
    <mat-form-field appearance="fill">
      <input matInput placeholder="Outer food" formControlName="expense" required>
    </mat-form-field>
  </div>
    <div class="col-md-6">
    <mat-form-field appearance="fill">
      <input matInput placeholder="1200" formControlName="amount" required>
    </mat-form-field>
  </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button mat-button (click)="postexpenses()" color="primary">Submit</button>
    </div>
  </div>
</form>
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Expensess</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="wastedata"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of wastedata"cdkDrag>
          <p>{{item.expense}}({{item.amount}})</p>
       <span class="dateTime">{{item.datetime|date :"MM-dd-yyyy"}}|{{item.datetime|date:'shortTime'}}</span>
         </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Wast of money</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="data"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of data" cdkDrag>
         <p>{{item.expense}}({{item.amount}})</p>
      <span class="dateTime">{{item.datetime|date :"MM-dd-yyyy"}}|{{item.datetime|date:'shortTime'}}</span>
        </div>
      </div>
    </div>
  </div>
  
</div> -->
<button (click)="useLanguage('hindi')">Hindi</button>
<button (click)="useLanguage('en')">english</button>
<div>
  <h1>Translation demo</h1>
  <p>This is a simple demonstration app for ngx-translate</p>
  {{'name'|translate}}
</div>
<app-experiment></app-experiment>
<!-- <app-calender></app-calender> -->